@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto";
}

[type="search"] {
    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
}

input{
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.b-w{
    border: 1px solid #ffffff20;
}
.b-w-l{
    border-left: 1px solid #ffffff20;
}
.b-w-b{
    border-bottom: 1px solid #ffffff20;
}
.b-w-t{
    border-top: 1px solid #ffffff20;
}
.b-w-r{
    border-right: 1px solid #ffffff20;
}
.b-w-x{
    border-left: 1px solid #ffffff20;
    border-right: 1px solid #ffffff20;
}
.b-w-y{
    border-top: 1px solid #ffffff20;
    border-bottom: 1px solid #ffffff20;
}


/* ::-webkit-scrollbar {
    display: none;
} */

@media (prefers-color-scheme: dark) {
    .a{
        --pattern-fg: 
        color-mix(in oklab, var(--color-white) 10%, transparent);
    }
}

.fade-in {
    animation: fadeIn .2s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
  

